body {
    background-color: black;
}

#notice-wrap {
    padding: 20px;
    font-family: "Tahoma";
}
#notice {
    padding: 30px;
    background-color: #e11414;
    font-size: 2rem;
    color: white;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#tm {
    animation: 0.1s ease-in 0.1s fade-in;
    animation-fill-mode: forwards;
    opacity: 0;
    color: #04752f;
    font-family: "Tahoma";
    padding: 170px;
}

.file {
    background-color: #04752f;
    color: black;
    width: 100%;
    padding: 5px;
}

.file > a {
    font-size: 24px;
    transition: 0.3s;
}

.file > a:hover {
    background-color: white;
}

.file > p {
    margin-top: 0px;
    padding-left: 15px;
}

.link {
    color: black;
    transition: 0.3s;
}

.link:hover {
    background-color: white;

}

